.page-bar {
    padding: 0px;
    background-color: #ffffff;
    margin-bottom: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    height: 40px;
}

.page-bar::before, .page-bar::after {
    content: " ";
    display: table;
}

.page-bar .page-breadcrumb {
    display: inline-block;
    float: left;
    padding: 10px 6px;
    margin: 0;
    list-style: none;
}

.page-bar .page-breadcrumb li{
    display: inline-block;
    list-style: none;
}

.page-bar .page-breadcrumb > li > a, .page-bar .page-breadcrumb > li > span {
    color: #888;
    font-size: 13px;
    text-shadow: none;
}

.progress-info a{
    text-decoration: none;
    color: #AAB5BC;
}

a:hover{
    text-decoration: none;
}